test/data/ili23/iliconversion/main.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.interlis.ch/INTERLIS2.3" xmlns:ili2c="http://www.interlis.ch/ili2c" targetNamespace="http://www.interlis.ch/INTERLIS2.3" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:appinfo source="http://www.interlis.ch/ili2c/ili2cversion">4.5.6-20140909</xsd:appinfo>
    <xsd:appinfo source="http://www.interlis.ch/ili2c">
      <ili2c:model>Model</ili2c:model>
      <ili2c:modelVersion>1</ili2c:modelVersion>
      <ili2c:modelAt>http://www.interlis.ch/ili2c/tests/</ili2c:modelAt>
      <ili2c:textMinimalCharset>ili23AnnexB</ili2c:textMinimalCharset>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="TRANSFER" type="Transfer"/>
  <xsd:simpleType name="IliID">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([a-zA-Z_][0-9a-zA-Z_\-\.]*:)?[0-9a-zA-Z_][0-9a-zA-Z_\-\.]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Transfer">
    <xsd:sequence>
      <xsd:element name="HEADERSECTION" type="HeaderSection"/>
      <xsd:element name="DATASECTION" type="DataSection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Models">
    <xsd:sequence>
      <xsd:element name="MODEL" type="Model" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Model">
    <xsd:attribute name="NAME" type="INTERLIS.NAME" use="required"/>
    <xsd:attribute name="VERSION" type="xsd:string" use="required"/>
    <xsd:attribute name="URI" type="xsd:anyURI" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RoleType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="REF" type="IliID" use="required"/>
        <xsd:attribute name="BID" type="IliID"/>
        <xsd:attribute name="ORDER_POS" type="xsd:positiveInteger"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DataSection">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="Model.Topic" type="Model.Topic"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Model.Topic.Lkoord">
    <xsd:sequence>
      <xsd:element name="COORD" type="CoordValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType  name="Model.Topic.linattr">
    <xsd:sequence>
      <xsd:element name="attr" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType  name="Model.Topic.Class">
    <xsd:sequence>
      <xsd:element name="text" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:normalizedString">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="aufzaehlung" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:enumeration value="null"/>
            <xsd:enumeration value="eins"/>
            <xsd:enumeration value="zwei"/>
            <xsd:enumeration value="drei"/>
            <xsd:enumeration value="mehr.vier"/>
            <xsd:enumeration value="mehr.fuenf"/>
            <xsd:enumeration value="mehr.sechs"/>
            <xsd:enumeration value="mehr.sieben"/>
            <xsd:enumeration value="mehr.acht"/>
            <xsd:enumeration value="mehr.neun"/>
            <xsd:enumeration value="mehr.zehn"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="horizAlignment" type="INTERLIS.HALIGNMENT" minOccurs="0"/>
      <xsd:element name="vertAlignment" type="INTERLIS.VALIGNMENT" minOccurs="0"/>
      <xsd:element name="boolean" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="numDec" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="0.0"/>
            <xsd:maxInclusive value="10.0"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="numInt" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="0"/>
            <xsd:maxInclusive value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="datum" type="xsd:date"/>
      <xsd:element name="datumf">
        <xsd:simpleType>
          <xsd:restriction base="xsd:date">
            <xsd:minInclusive value="2000-01-01"/>
            <xsd:maxInclusive value="2012-12-31"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="datumzeit" type="xsd:dateTime"/>
      <xsd:element name="datumzeitf">
        <xsd:simpleType>
          <xsd:restriction base="xsd:dateTime">
            <xsd:minInclusive value="2000-01-01T00:00:00.000"/>
            <xsd:maxInclusive value="2012-12-31T23:59:59.000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="zeit" type="xsd:time"/>
      <xsd:element name="zeitf">
        <xsd:simpleType>
          <xsd:restriction base="xsd:time">
            <xsd:minInclusive value="00:00:00.000"/>
            <xsd:maxInclusive value="23:59:59.000"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="coord" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="COORD" type="CoordValue"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="oid" minOccurs="0">
        <xsd:complexType>
          <xsd:attribute name="OID" type="IliID" use="required"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="basketBin" minOccurs="0">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="basketXml" minOccurs="0">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="class" minOccurs="0">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="linientyp" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="POLYLINE">
              <xsd:complexType>
                <xsd:choice minOccurs="2" maxOccurs="unbounded">
                  <xsd:element name="COORD" type="CoordValue"/>
                </xsd:choice>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="surface" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:choice minOccurs="2" maxOccurs="unbounded">
                              <xsd:element name="COORD" type="CoordValue"/>
                              <xsd:element name="ARC" type="ArcPoint"/>
                            </xsd:choice>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="area" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="LINEATTR">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="Model.Topic.linattr" type="Model.Topic.linattr"/>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:choice minOccurs="2" maxOccurs="unbounded">
                                <xsd:element name="COORD" type="CoordValue"/>
                                <xsd:element name="ARC" type="ArcPoint"/>
                              </xsd:choice>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="Model.Topic">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="Model.Topic.Class" type="Model.Topic.Class"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="BID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CoordValue">
    <xsd:sequence>
      <xsd:element name="C1" type="xsd:double"/>
      <xsd:element name="C2" type="xsd:double" minOccurs="0"/>
      <xsd:element name="C3" type="xsd:double" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArcPoint">
    <xsd:sequence>
      <xsd:element name="C1" type="xsd:double"/>
      <xsd:element name="C2" type="xsd:double"/>
      <xsd:element name="C3" type="xsd:double" minOccurs="0"/>
      <xsd:element name="A1" type="xsd:double"/>
      <xsd:element name="A2" type="xsd:double"/>
      <xsd:element name="R" type="xsd:double" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="INTERLIS.NAME">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="INTERLIS.HALIGNMENT">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Left"/>
      <xsd:enumeration value="Center"/>
      <xsd:enumeration value="Right"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="INTERLIS.VALIGNMENT">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Top"/>
      <xsd:enumeration value="Cap"/>
      <xsd:enumeration value="Half"/>
      <xsd:enumeration value="Base"/>
      <xsd:enumeration value="Bottom"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="HeaderSection">
    <xsd:sequence>
      <xsd:element name="MODELS" type="Models"/>
      <xsd:element name="OIDSPACES" type="OidSpaces" minOccurs="0"/>
      <xsd:element name="COMMENT" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="VERSION" type="xsd:decimal" use="required" fixed="2.3"/>
    <xsd:attribute name="SENDER" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="OidSpaces">
    <xsd:sequence>
      <xsd:element name="OIDSPACE" type="OidSpace" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OidSpace">
    <xsd:attribute name="NAME" type="xsd:string" use="required"/>
    <xsd:attribute name="OIDDOMAIN" type="xsd:string" use="required"/>
  </xsd:complexType>
</xsd:schema>
