test/data/ili24/model/ModelA.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.interlis.ch/INTERLIS2.3" xmlns:ili2c="http://www.interlis.ch/ili2c" targetNamespace="http://www.interlis.ch/INTERLIS2.3" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xsd:annotation>
    <xsd:appinfo source="http://www.interlis.ch/ili2c/ili2cversion">4.5.3-20140402</xsd:appinfo>
    <xsd:appinfo source="http://www.interlis.ch/ili2c">
      <ili2c:model>ModelA</ili2c:model>
      <ili2c:modelVersion>1</ili2c:modelVersion>
      <ili2c:modelAt>http://www.interlis.ch/ili2c/tests/</ili2c:modelAt>
      <ili2c:textMinimalCharset>ili23AnnexB</ili2c:textMinimalCharset>
    </xsd:appinfo>
    <xsd:appinfo source="http://www.interlis.ch/ili2c">
      <ili2c:model>ModelB</ili2c:model>
      <ili2c:modelVersion>1</ili2c:modelVersion>
      <ili2c:modelAt>http://www.interlis.ch/ili2c/tests/</ili2c:modelAt>
      <ili2c:textMinimalCharset>ili23AnnexB</ili2c:textMinimalCharset>
    </xsd:appinfo>
  </xsd:annotation>
  <xsd:element name="TRANSFER" type="Transfer"/>
  <xsd:simpleType name="IliID">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="([a-zA-Z_][0-9a-zA-Z_\-\.]*:)?[0-9a-zA-Z_][0-9a-zA-Z_\-\.]*"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Transfer">
    <xsd:sequence>
      <xsd:element name="HEADERSECTION" type="HeaderSection"/>
      <xsd:element name="DATASECTION" type="DataSection"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Models">
    <xsd:sequence>
      <xsd:element name="MODEL" type="Model" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Model">
    <xsd:attribute name="NAME" type="INTERLIS.NAME" use="required"/>
    <xsd:attribute name="VERSION" type="xsd:string" use="required"/>
    <xsd:attribute name="URI" type="xsd:anyURI" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="RoleType">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="REF" type="IliID" use="required"/>
        <xsd:attribute name="BID" type="IliID"/>
        <xsd:attribute name="ORDER_POS" type="xsd:positiveInteger"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="DataSection">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="ModelA.Enums" type="ModelA.Enums"/>
        <xsd:element name="ModelA.AreaDef" type="ModelA.AreaDef"/>
        <xsd:element name="ModelA.Grundbuch" type="ModelA.Grundbuch"/>
        <xsd:element name="ModelB.Grundbuch" type="ModelB.Grundbuch"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ModelA.LKoord">
    <xsd:sequence>
      <xsd:element name="COORD" type="CoordValue"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ModelA.Horizontbezeichung">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="20"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ModelA.TestText">
    <xsd:restriction base="xsd:normalizedString">
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ModelA.TestTextLen">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ModelA.TestMText">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ModelA.TestMTextLen">
    <xsd:restriction base="xsd:string">
      <xsd:maxLength value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ModelA.TestURI">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ModelA.TestName">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:simpleType name="ModelA.FarbeFinal">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="rot"/>
      <xsd:enumeration value="gelb"/>
      <xsd:enumeration value="gruen"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ModelA.Farbe">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="rot"/>
      <xsd:enumeration value="gelb"/>
      <xsd:enumeration value="gruen"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ModelA.FarbePlus">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="rot.dunkel"/>
      <xsd:enumeration value="rot.hell"/>
      <xsd:enumeration value="gelb"/>
      <xsd:enumeration value="gruen"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType  name="ModelA.Enums.Fahrzeug">
    <xsd:sequence>
      <xsd:element name="CarrosserieFarbe" type="ModelA.Farbe" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="ModelA.Enums.Auto">
    <xsd:sequence>
      <xsd:element name="CarrosserieFarbe" type="ModelA.FarbePlus" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ModelA.Enums">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="ModelA.Enums.Fahrzeug" type="ModelA.Enums.Fahrzeug"/>
        <xsd:element name="ModelA.Enums.Auto" type="ModelA.Enums.Auto"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="BID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:simpleType name="ModelA.TestInt">
    <xsd:restriction base="xsd:integer">
      <xsd:minInclusive value="1"/>
      <xsd:maxInclusive value="10"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ModelA.TestDec">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="1.0"/>
      <xsd:maxInclusive value="10.0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ModelA.TestDouble">
    <xsd:restriction base="xsd:double">
      <xsd:minInclusive value="1.23"/>
      <xsd:maxInclusive value="2.34"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType  name="ModelA.GregorianDate">
    <xsd:sequence>
      <xsd:element name="Year" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1582"/>
            <xsd:maxInclusive value="2999"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Month" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="Day" minOccurs="0">
        <xsd:simpleType>
          <xsd:restriction base="xsd:integer">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="31"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ModelA.BuchungsDatum">
    <xsd:restriction base="xsd:normalizedString">
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ModelA.StartZeit">
    <xsd:restriction base="xsd:normalizedString">
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ModelA.MessZeitpunkt">
    <xsd:restriction base="xsd:normalizedString">
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="ModelA.EigenesDatum">
    <xsd:restriction base="xsd:normalizedString">
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ModelA.BlackboxXml">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ModelA.BlackboxBinary">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ModelA.InterlisClassRef">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ModelA.InterlisAttributeRef">
    <xsd:simpleContent>
      <xsd:extension base="xsd:string"/>
    </xsd:simpleContent>
  </xsd:complexType>
  <xsd:complexType name="ModelA.Strassenachse">
    <xsd:sequence>
      <xsd:element name="POLYLINE">
        <xsd:complexType>
          <xsd:choice minOccurs="2" maxOccurs="unbounded">
            <xsd:element name="COORD" type="CoordValue"/>
            <xsd:element name="ARC" type="ArcPoint"/>
          </xsd:choice>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ModelA.GebaeudeFlaeche">
    <xsd:sequence>
      <xsd:element name="SURFACE">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="BOUNDARY" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="POLYLINE" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:choice minOccurs="2" maxOccurs="unbounded">
                        <xsd:element name="COORD" type="CoordValue"/>
                        <xsd:element name="ARC" type="ArcPoint"/>
                      </xsd:choice>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType  name="ModelA.GrenzlinieEigenschaften">
    <xsd:sequence>
      <xsd:element name="streitig" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType  name="ModelA.AreaDef.Grundstueck">
    <xsd:sequence>
      <xsd:element name="Grenze">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SURFACE">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="BOUNDARY" maxOccurs="unbounded">
                    <xsd:complexType>
                      <xsd:sequence>
                        <xsd:element name="POLYLINE" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:sequence>
                              <xsd:element name="LINEATTR">
                                <xsd:complexType>
                                  <xsd:sequence>
                                    <xsd:element name="ModelA.GrenzlinieEigenschaften" type="ModelA.GrenzlinieEigenschaften"/>
                                  </xsd:sequence>
                                </xsd:complexType>
                              </xsd:element>
                              <xsd:choice minOccurs="2" maxOccurs="unbounded">
                                <xsd:element name="COORD" type="CoordValue"/>
                                <xsd:element name="ARC" type="ArcPoint"/>
                              </xsd:choice>
                            </xsd:sequence>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ModelA.AreaDef">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="ModelA.AreaDef.Grundstueck" type="ModelA.AreaDef.Grundstueck"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="BID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ModelA.BFS_EGID">
    <xsd:attribute name="OID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ModelA.UUID">
    <xsd:attribute name="OID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="ModelA.Grundbuch.Grundstueck">
    <xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="ModelA.Grundbuch">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="ModelA.Grundbuch.Grundstueck" type="ModelA.Grundbuch.Grundstueck"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="BID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="ModelB.Grundbuch.Liegenschaft">
    <xsd:sequence>
      <xsd:element name="Eigentuemer">
        <xsd:complexType>
          <xsd:attribute name="REF" type="IliID" use="required"/>
          <xsd:attribute name="BID" type="IliID"/>
          <xsd:attribute name="ORDER_POS" type="xsd:positiveInteger"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="ModelB.Grundbuch.Person">
    <xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="ModelB.Grundbuch.Verein">
    <xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="TID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType  name="ModelB.Grundbuch.DauerhafteVereinigungMitglied">
    <xsd:sequence>
      <xsd:element name="DauerhafteVereinigung" type="RoleType"/>
      <xsd:element name="Mitglied" type="RoleType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ModelB.Grundbuch">
    <xsd:sequence>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element name="ModelA.Grundbuch.Grundstueck" type="ModelA.Grundbuch.Grundstueck"/>
        <xsd:element name="ModelB.Grundbuch.Liegenschaft" type="ModelB.Grundbuch.Liegenschaft"/>
        <xsd:element name="ModelB.Grundbuch.Person" type="ModelB.Grundbuch.Person"/>
        <xsd:element name="ModelB.Grundbuch.Verein" type="ModelB.Grundbuch.Verein"/>
        <xsd:element name="ModelB.Grundbuch.DauerhafteVereinigungMitglied" type="ModelB.Grundbuch.DauerhafteVereinigungMitglied"/>
      </xsd:choice>
    </xsd:sequence>
    <xsd:attribute name="BID" type="IliID" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="CoordValue">
    <xsd:sequence>
      <xsd:element name="C1" type="xsd:double"/>
      <xsd:element name="C2" type="xsd:double" minOccurs="0"/>
      <xsd:element name="C3" type="xsd:double" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArcPoint">
    <xsd:sequence>
      <xsd:element name="C1" type="xsd:double"/>
      <xsd:element name="C2" type="xsd:double"/>
      <xsd:element name="C3" type="xsd:double" minOccurs="0"/>
      <xsd:element name="A1" type="xsd:double"/>
      <xsd:element name="A2" type="xsd:double"/>
      <xsd:element name="R" type="xsd:double" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="INTERLIS.NAME">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:maxLength value="255"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="HeaderSection">
    <xsd:sequence>
      <xsd:element name="MODELS" type="Models"/>
      <xsd:element name="OIDSPACES" type="OidSpaces" minOccurs="0"/>
      <xsd:element name="COMMENT" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="VERSION" type="xsd:decimal" use="required" fixed="2.3"/>
    <xsd:attribute name="SENDER" type="xsd:string" use="required"/>
  </xsd:complexType>
  <xsd:complexType name="OidSpaces">
    <xsd:sequence>
      <xsd:element name="OIDSPACE" type="OidSpace" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OidSpace">
    <xsd:attribute name="NAME" type="xsd:string" use="required"/>
    <xsd:attribute name="OIDDOMAIN" type="xsd:string" use="required"/>
  </xsd:complexType>
</xsd:schema>
