test/old/gml/20150113/xsd/ModelA.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA" targetNamespace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA" elementFormDefault="qualified" attributeFormDefault="unqualified"
  xmlns:gml="http://www.opengis.net/gml/3.2"
  xmlns:INTERLIS="http://www.interlis.ch/INTERLIS2.3/GML32/INTERLIS"
  xmlns:ili2c="http://www.interlis.ch/ili2c"
  >
<xsd:annotation>
  <xsd:appinfo source="http://www.interlis.ch/ili2c/ili2cversion">4.5.18-20150912</xsd:appinfo>
  <xsd:appinfo source="http://www.interlis.ch/ili2c">
    <ili2c:model>ModelA</ili2c:model>
    <ili2c:modelVersion>1</ili2c:modelVersion>
    <ili2c:modelAt>http://www.interlis.ch/ili2c/tests/</ili2c:modelAt>
  </xsd:appinfo>
</xsd:annotation>
<xsd:import namespace="http://www.opengis.net/gml/3.2"/>
<xsd:import namespace="http://www.interlis.ch/INTERLIS2.3/GML32/INTERLIS"/>
<xsd:complexType name="LKoord">
  <xsd:complexContent>
    <xsd:restriction base="gml:PointPropertyType">
      <xsd:sequence>
        <xsd:element ref="gml:Point"/>
      </xsd:sequence>
    </xsd:restriction>
  </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="Horizontbezeichung">
  <xsd:restriction base="xsd:normalizedString">
    <xsd:maxLength value="20"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TestText">
  <xsd:restriction base="xsd:normalizedString">
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TestTextLen">
  <xsd:restriction base="xsd:normalizedString">
    <xsd:maxLength value="10"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TestMText">
  <xsd:restriction base="xsd:string">
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TestMTextLen">
  <xsd:restriction base="xsd:string">
    <xsd:maxLength value="10"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TestURI">
  <xsd:restriction base="xsd:anyURI">
    <xsd:maxLength value="1023"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TestName">
  <xsd:restriction base="xsd:token">
    <xsd:maxLength value="255"/><xsd:pattern value="[a-zA-Z][a-zA-Z0-9_]*"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TestInt">
  <xsd:restriction base="xsd:integer">
    <xsd:minInclusive value="1"/>
    <xsd:maxInclusive value="10"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TestDec">
  <xsd:restriction base="xsd:decimal">
    <xsd:minInclusive value="1.0"/>
    <xsd:maxInclusive value="10.0"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TestDecPlus">
  <xsd:restriction base="xsd:decimal">
    <xsd:minInclusive value="1.00"/>
    <xsd:maxInclusive value="10.04"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TestDecPlusPlus">
  <xsd:restriction base="xsd:decimal">
    <xsd:minInclusive value="0.000001"/>
    <xsd:maxInclusive value="1.040000"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="TestDouble">
  <xsd:restriction base="xsd:double">
    <xsd:minInclusive value="0.123e1"/>
    <xsd:maxInclusive value="0.234e1"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="FarbeFinal">
  <xsd:restriction base="xsd:normalizedString">
    <xsd:enumeration value="rot"/>
    <xsd:enumeration value="gelb"/>
    <xsd:enumeration value="gruen"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:complexType name="Farbe">
  <xsd:simpleContent>
    <xsd:restriction base="gml:CodeWithAuthorityType">
      <xsd:attribute name="codeSpace" type="xsd:anyURI" use="required"/>
    </xsd:restriction>
  </xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FarbePlus">
  <xsd:simpleContent>
    <xsd:restriction base="Farbe">
      <xsd:attribute name="codeSpace" type="xsd:anyURI" use="required"/>
    </xsd:restriction>
  </xsd:simpleContent>
</xsd:complexType>
<xsd:complexType name="FarbeAll">
  <xsd:simpleContent>
    <xsd:restriction base="gml:CodeWithAuthorityType">
      <xsd:attribute name="codeSpace" type="xsd:anyURI" use="required"/>
    </xsd:restriction>
  </xsd:simpleContent>
</xsd:complexType>
<xsd:simpleType name="FarbeAllFinal">
  <xsd:restriction base="xsd:normalizedString">
    <xsd:enumeration value="rot"/>
    <xsd:enumeration value="rot.dunkelrot"/>
    <xsd:enumeration value="rot.orange"/>
    <xsd:enumeration value="rot.karmin"/>
    <xsd:enumeration value="gelb"/>
    <xsd:enumeration value="gruen"/>
    <xsd:enumeration value="gruen.hellgruen"/>
    <xsd:enumeration value="gruen.dunkelgruen"/>
    <xsd:enumeration value="blau"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:element name="Fahrzeug" type="FahrzeugType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="FahrzeugType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="CarrosserieFarbe" type="Farbe" minOccurs="0"/>
        <xsd:element name="Preis" type="TestDec" minOccurs="0"/>
        <xsd:element name="NewScale" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:decimal">
              <xsd:minInclusive value="0.000001"/>
              <xsd:maxInclusive value="1000000.000000"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Auto" type="AutoType" substitutionGroup="Fahrzeug"/>
<xsd:complexType  name="AutoType">
  <xsd:complexContent>
    <xsd:extension base="FahrzeugType">
      <xsd:sequence>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="DomainTestsMemberType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureMemberType">
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="Fahrzeug"/>
          <xsd:element ref="Auto"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="DomainTests" type="DomainTestsType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType name="DomainTestsType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="member" type="DomainTestsMemberType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attributeGroup ref="gml:AggregationAttributeGroup"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="GregorianDate" type="GregorianDateType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="GregorianDateType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="Year" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:integer">
              <xsd:minInclusive value="1582"/>
              <xsd:maxInclusive value="2999"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Month" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:integer">
              <xsd:minInclusive value="1"/>
              <xsd:maxInclusive value="12"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
        <xsd:element name="Day" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:integer">
              <xsd:minInclusive value="1"/>
              <xsd:maxInclusive value="31"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="BuchungsDatum">
  <xsd:restriction base="xsd:date">
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="StartZeit">
  <xsd:restriction base="xsd:time">
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="MessZeitpunkt">
  <xsd:restriction base="xsd:dateTime">
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="EigenesDatum">
  <xsd:restriction base="xsd:normalizedString">
  <xsd:pattern value="([\+\-0-9\.]+)Y([\+\-0-9\.]+)M([\+\-0-9\.]+)D"/>
  </xsd:restriction>
</xsd:simpleType>
<xsd:complexType  name="BlackboxXml">
  <xsd:sequence>
    <xsd:any namespace="##any" minOccurs="0" maxOccurs="unbounded" processContents="lax"/>
  </xsd:sequence>
</xsd:complexType>
<xsd:simpleType  name="BlackboxBinary">
  <xsd:restriction base="xsd:base64Binary">
  </xsd:restriction>
</xsd:simpleType>
<xsd:simpleType name="InterlisClassRef">
  <xsd:restriction base="xsd:normalizedString"/>
</xsd:simpleType>
<xsd:simpleType name="InterlisAttributeRef">
  <xsd:restriction base="xsd:normalizedString"/>
</xsd:simpleType>
<xsd:complexType name="Strassenachse">
  <xsd:complexContent>
    <xsd:restriction base="gml:CurvePropertyType">
      <xsd:sequence>
        <xsd:element ref="gml:AbstractCurve"/>
      </xsd:sequence>
    </xsd:restriction>
  </xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="GebaeudeFlaeche">
  <xsd:complexContent>
    <xsd:restriction base="gml:SurfacePropertyType">
      <xsd:sequence>
        <xsd:element ref="gml:Polygon"/>
      </xsd:sequence>
    </xsd:restriction>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="GrenzlinieEigenschaften" type="GrenzlinieEigenschaftenType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="GrenzlinieEigenschaftenType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="streitig" type="xsd:boolean" minOccurs="0"/>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Sonderzone" type="SonderzoneType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="SonderzoneType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="Grenze" type="gml:SurfacePropertyType">
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Gebaeude" type="GebaeudeType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="GebaeudeType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="Grenze" type="GebaeudeFlaeche"/>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="SurfaceDefMemberType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureMemberType">
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="Sonderzone"/>
          <xsd:element ref="Gebaeude"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="SurfaceDef" type="SurfaceDefType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType name="SurfaceDefType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="member" type="SurfaceDefMemberType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attributeGroup ref="gml:AggregationAttributeGroup"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Grundstueck" type="GrundstueckType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="GrundstueckType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="Grenze" type="LKoord">
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="AreaDefMemberType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureMemberType">
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="Grundstueck"/>
          <xsd:element ref="Grundstueck.Grenze"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="AreaDef" type="AreaDefType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType name="AreaDefType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="member" type="AreaDefMemberType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attributeGroup ref="gml:AggregationAttributeGroup"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:simpleType name="BFS_EGID">
  <xsd:restriction base="xsd:int"/>
</xsd:simpleType>
<xsd:simpleType name="UUID">
  <xsd:restriction base="xsd:token"/>
</xsd:simpleType>
<xsd:element name="Grundbuch.Grundstueck" type="Grundbuch.GrundstueckType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="Grundbuch.GrundstueckType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="GrundbuchMemberType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureMemberType">
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="Grundbuch.Grundstueck"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Grundbuch" type="GrundbuchType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType name="GrundbuchType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="member" type="GrundbuchMemberType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attributeGroup ref="gml:AggregationAttributeGroup"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Class1" type="Class1Type" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="Class1Type">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Class2" type="Class2Type" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="Class2Type">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Class3" type="Class3Type" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="Class3Type">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="AssocA" type="AssocAType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="AssocAType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="class1" type="gml:ReferenceType">
          <xsd:annotation>
            <xsd:appinfo>
              <gml:targetElement>Class1</gml:targetElement>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="class2" type="gml:ReferenceType">
          <xsd:annotation>
            <xsd:appinfo>
              <gml:targetElement>Class2</gml:targetElement>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
        <xsd:element name="class3" type="gml:ReferenceType">
          <xsd:annotation>
            <xsd:appinfo>
              <gml:targetElement>Class3</gml:targetElement>
            </xsd:appinfo>
          </xsd:annotation>
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Class4" type="Class4Type" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="Class4Type">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="class5">
          <xsd:annotation>
            <xsd:appinfo>
              <gml:targetElement>Class5</gml:targetElement>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence/>
            <xsd:attributeGroup ref="gml:OwnershipAttributeGroup"/>
            <xsd:attributeGroup ref="gml:AssociationAttributeGroup"/>
            <xsd:attribute ref="INTERLIS:ORDER_POS"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="class5.LINK_DATA" minOccurs="0">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="AssocB"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Class5" type="Class5Type" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="Class5Type">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="AssocB" type="AssocBType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="AssocBType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="AssocBplus" type="AssocBplusType" substitutionGroup="AssocB"/>
<xsd:complexType  name="AssocBplusType">
  <xsd:complexContent>
    <xsd:extension base="AssocBType">
      <xsd:sequence>
        <xsd:element name="attr" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:normalizedString">
              <xsd:maxLength value="20"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Class6" type="Class6Type" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="Class6Type">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Class7" type="Class7Type" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="Class7Type">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="AssocC" type="AssocCType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="AssocCType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="class6">
          <xsd:annotation>
            <xsd:appinfo>
              <gml:targetElement>Class6</gml:targetElement>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence/>
            <xsd:attributeGroup ref="gml:OwnershipAttributeGroup"/>
            <xsd:attributeGroup ref="gml:AssociationAttributeGroup"/>
            <xsd:attribute ref="INTERLIS:ORDER_POS"/>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="class7">
          <xsd:annotation>
            <xsd:appinfo>
              <gml:targetElement>Class7</gml:targetElement>
            </xsd:appinfo>
          </xsd:annotation>
          <xsd:complexType>
            <xsd:sequence/>
            <xsd:attributeGroup ref="gml:OwnershipAttributeGroup"/>
            <xsd:attributeGroup ref="gml:AssociationAttributeGroup"/>
            <xsd:attribute ref="INTERLIS:ORDER_POS"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="AssocCplus" type="AssocCplusType" substitutionGroup="AssocC"/>
<xsd:complexType  name="AssocCplusType">
  <xsd:complexContent>
    <xsd:extension base="AssocCType">
      <xsd:sequence>
        <xsd:element name="attr" minOccurs="0">
          <xsd:simpleType>
            <xsd:restriction base="xsd:normalizedString">
              <xsd:maxLength value="20"/>
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="AssocTestMemberType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureMemberType">
      <xsd:sequence>
        <xsd:choice>
          <xsd:element ref="Class1"/>
          <xsd:element ref="Class2"/>
          <xsd:element ref="Class3"/>
          <xsd:element ref="AssocA"/>
          <xsd:element ref="Class4"/>
          <xsd:element ref="Class5"/>
          <xsd:element ref="Class6"/>
          <xsd:element ref="Class7"/>
          <xsd:element ref="AssocC"/>
          <xsd:element ref="AssocCplus"/>
        </xsd:choice>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="AssocTest" type="AssocTestType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType name="AssocTestType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="member" type="AssocTestMemberType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attributeGroup ref="gml:AggregationAttributeGroup"/>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:element name="Grundstueck.Grenze" type="Grundstueck.GrenzeType" substitutionGroup="gml:AbstractFeature"/>
<xsd:complexType  name="Grundstueck.GrenzeType">
  <xsd:complexContent>
    <xsd:extension base="gml:AbstractFeatureType">
      <xsd:sequence>
        <xsd:element name="geometry" type="gml:CurvePropertyType"/>
        <xsd:element name="lineattr">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element ref="GrenzlinieEigenschaften"/>
            </xsd:sequence>
            <xsd:attributeGroup ref="gml:OwnershipAttributeGroup"/>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:extension>
  </xsd:complexContent>
</xsd:complexType>
<xsd:annotation>
  <xsd:appinfo source="http://www.interlis.ch/ili2c">
    <gml:Dictionary gml:id="o1">
      <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA">Farbe</gml:identifier>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o2">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/Farbe">rot</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o3">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/Farbe">gelb</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o4">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/Farbe">gruen</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
    </gml:Dictionary>
    <gml:Dictionary gml:id="o5">
      <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA">FarbePlus</gml:identifier>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o6">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbePlus">rot.dunkelrot</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o7">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbePlus">rot.orange</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o8">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbePlus">rot.karmin</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o9">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbePlus">gelb</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o10">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbePlus">gruen.hellgruen</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o11">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbePlus">gruen.dunkelgruen</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o12">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbePlus">blau</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
    </gml:Dictionary>
    <gml:Dictionary gml:id="o13">
      <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA">FarbeAll</gml:identifier>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o14">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbeAll">rot</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o15">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbeAll">rot.dunkelrot</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o16">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbeAll">rot.orange</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o17">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbeAll">rot.karmin</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o18">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbeAll">gelb</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o19">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbeAll">gruen</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o20">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbeAll">gruen.hellgruen</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o21">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbeAll">gruen.dunkelgruen</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
      <gml:dictionaryEntry>
        <gml:Definition gml:id="o22">
          <gml:identifier codeSpace="http://www.interlis.ch/INTERLIS2.3/GML32/ModelA/FarbeAll">blau</gml:identifier>
        </gml:Definition>
      </gml:dictionaryEntry>
    </gml:Dictionary>
  </xsd:appinfo>
</xsd:annotation>
</xsd:schema>
